.global-loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color, #000);
    color: var(--text-color, #fff);
    z-index: 9999;

    .progress-text {
        margin-top: 2rem;
        font-size: 1rem;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}