.user-message-input {
    position: fixed;
    bottom: 1.5rem;
    z-index: 1000;
    left: 2vw;

    width: 96vw;
    color: var(--text-color);

    display: flex;
    align-content: center;
    gap: 0.5rem;

    input {
        flex-grow: 1;
        font-size: 16px;
        &::placeholder{
            color: var(--secondary-text-color);
        }
    }

    input,
    button {
        border: none;
        background: none;
        outline: none;
        color: var(--text-color);
    }

    button {
        cursor: pointer;
        font-size: 1.2rem;
        display: flex;
        align-content: center;

        &:hover{
            transition: 0.3s;
            color: var(--highlight-color);
        }
    }
}