#samantha {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 15rem;
    height: 15rem;
    pointer-events: none;
    z-index: 999;
    background: none;
    canvas{
        background: none;
    }
}