#theme-button{
    cursor: pointer;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--secondary-text-color);
    background: none;
    border: none;
    padding: 0.25rem;
    font-size: 1.2rem;
    z-index: 999;

    &:hover{
        scale: 1.1;
        color: var(--text-color);
        transition: 0.4s;
    }
}