@media(min-width: 530px) {
    #samantha {
        width: 20rem !important;
        height: 20rem !important;
    }
    .project-page{
        img{
            width: 16rem !important;
            height: 16rem !important;
        }
    }
    .chat-container{
        height: 55vh !important;
    }
}