@media(min-width: 530px) {
    #samantha {
        width: 20rem !important;
        height: 20rem !important;
    }
    .user-message-input{
        left: 10vw !important;
        width: 80vw !important;
    }
    .project-page{
        img{
            width: 16rem !important;
            height: 16rem !important;
        }
    }
    .chat-container{
        height: 59vh !important;
    }
}